# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build folder
code/build/
FMLCode/build/

# ignore compile commands
code/compile_commands.json
FMLCode/compile_commands.json

# ignore text editor cache
code/.cache/
FMLCode/.cache/
