[submodule "renderer_code/external/glfw"]
	path = renderer_code/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "renderer_code/external/glm"]
	path = renderer_code/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "renderer_code/external/assimp"]
	path = renderer_code/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "renderer_code/external/freetype"]
	path = renderer_code/external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "learnopenglproj/external/glfw"]
	path = learnopenglproj/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "learnopenglproj/external/assimp"]
	path = learnopenglproj/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "learnopenglproj/external/glm"]
	path = learnopenglproj/external/glm
	url = https://github.com/g-truc/glm.git
